body{
	/* Style for "body" */
width: 1275px;
background-color: #f9f9f9;
margin: 0 auto;
}
header{
	/* Style for "header" */
width: 1275px;
height: 599px;
background-color: #363636;
}
.menu{
	/* Style for "menu" */
padding-top: 16px;
margin-left: 167px;
}
.menu div{
	/* Style for "menu" */
display: inline-block;
}
.nav{
	/* Style for "nav" */
margin-left: 165px;
}
.nav a{
	/* Style for "nav" */
width: 585px;
height: 10px;
color: #ffffff;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
margin-left: 15px;
text-decoration: none;
}
.nav-active{
	/* Style for "nav-active" */
width: 147px;
height: 78px;
background-color: #2a2a2a;
background-image: linear-gradient(to bottom, #e86333 0%, #363636 5%, #363636 100%);
position: absolute;
opacity: 0.5;
margin-top: 1px;
margin-left: 525px;
}
.logo{
	/* Style for "tech&all" */
width: 183px;
height: 40px;
color: #f6f6f6;
font-family: "Brush Script Std";
font-size: 54px;
font-weight: bold;
line-height: 28.01px;
font-style: italic;
}
.body{
	/* Style for "Body BG" */
width: 979px;
height: 1585px;
background-color: #ffffff;
margin-top: -520px;
margin-left: 150px;
}
.slider-content{
	/* Style for "slider-content" */
width: 979px;
height: 501px;
box-shadow: 0 -22px 46px rgba(0, 0, 0, 0.42);
background-color: #333333;
background-image: linear-gradient(to bottom, #f97340 0%, #dc592b 100%);
margin-top: 18px;
}
.slider-content div{
	/* Style for "slider-content" */
display: inline-block;
}
.arrow-left{
	/* Style for "arrow-left" */
margin-top: 246px;
margin-left: 26px; 
}
.arrow-right{
	/* Style for "arrow-right" */
margin-left: 866px; 
}
.computer{
	/* Style for "computer" */
position: absolute;
margin-top: 66px;
margin-left: 154px;
}
#screen{
	/* Style for "screen" */
position: absolute;
margin-left: 20px;
margin-top: 22px;
}
#gloss{
	/* Style for "gloss" */
position: absolute;
margin-left: 263px;
}
#mac{
	/* Style for "mac" */
margin-left: 54px;
}
.slider{
	/* Style for "slider" */
margin-top: 190px;
margin-left: 909px;
opacity: 1;
}
.slide1{
	/* Style for "slide1" */
opacity: 1;
}
.slide2, .slide3{
	/* Style for "slide2; slide3" */
opacity: 0.7;
}
.slider div{
	/* Style for "slider" */
width: 13px;
height: 13px;
border-radius: 50%;
box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.2), inset 0 -1px 0 #ffffff, 0 0 0 1px rgba(0, 0, 0, 0.1);
background-color: #ffffff;
display: inline-block;
margin-right: 2px;
}
.bar div{
	/* Style for "bar" */
display: inline-block;
}
.bar{
	/* Style for "bar" */
width: 924px;
height: 118px;
margin-top: 53px;
margin-left: 30px;
border: 1px solid #efefef;
background-color: #f8f8f8;
}
.text{
	/* Style for "text" */
margin-top: 42px;
margin-left: 41px;
}
.text1{
	/* Style for "Visit Tech" */
color: #9b9292;
font-family: "Arial MT";
font-size: 24px;
font-weight: 400;
line-height: 28.01px;
}
.text2{
	/* Style for "Lorem Ipsu" */
color: #9b9292;
font-family: "Arial MT";
font-size: 16px;
font-weight: 400;
line-height: 28.01px;
}
#btn1{
	/* Style for "button1" */
position: absolute;
width: 181px;
height: 42px;
border-radius: 15px;
border: none;
background-color: #f7713e;
margin-left: 110px;
margin-top: 46px;
	/* Style for "go!" */
color: #ffffff;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
}
.bar-2{
	/* Style for "Shape 53" */
position: absolute;
margin-left: 88px;
border: 20px solid transparent; border-top: 41px solid #f8f8f8;
}
.product-img{
	/* Style for "circle" */
width: 60px;
height: 60px;
background-color: #f97340;
border-radius: 50%;
text-align: center;
box-shadow: 0 0 0 8px rgba(249, 115, 64, 0.27);
animation: radial-pulse 1s infinite;
}
@keyframes radial-pulse {
	/* Style for "pulse" */
	0% {
		/* Style for "0 pulse" */
  	box-shadow: 0 0 0 0px rgba(249, 115, 64, 0.5);
  	}
  	100% {
		/* Style for "100% pulse" */
  	box-shadow: 0 0 0 15px rgba(249, 115, 64, 0);
  	}
}
.products div{
	/* Style for "products" */
display: inline-block;
}
.products{
	/* Style for "products" */
margin-top: 105px;
margin-left: 56px;
}
.product-text{
	/* Style for "product-text" */
position: absolute;
margin-left: 14px;
margin-top: -10px;
}
.prod-2, .prod-4{
	/* Style for "prod-2; prod-4" */
margin-left: 420px;
height: 110px;
}
.title1{
	/* Style for "Web design" */
color: #353535;
font-family: "Arial MT";
font-size: 16px;
font-weight: 400;
line-height: 28.01px;
}
.text3{
	/* Style for "Orem Ipsum" */
width: 309px;
height: 45px;
color: #9b9292;
font-family: "Arial MT";
font-size: 13px;
font-weight: 400;
line-height: 16.01px;
}
#hr1{
	/* Style for "hr1" */
margin-top: 88px;
margin-left: -17px;
width: 895px;
height: 1px;
background-color: #eeeeee;
}
.player{
	/* Style for "player" */
margin-top: 33px;
}
.comment{
	/* Style for "comment" */
margin-left: 50px;
}
#hr2{
	/* Style for "hr2" */
width: 327px;
height: 1px;
margin-bottom: 17px;
background-color: #eeeeee;
}
.text4{
	/* Style for "Watch the" */
color: #f97340;
cursor: pointer;
font-family: "Arial MT";
font-size: 13px;
font-weight: 400;
line-height: 16.01px;
margin-left: 33px;
margin-top: 23px;
text-decoration: underline;
}
#img-video{
	/* Style for "img-video" */
position: absolute;
margin-top: 20px;
}
hr{
	/* Style for "hr" */
border: none;
}
#hr3{
	/* Style for "hr3" */
width: 385px;
height: 1px;
background-color: #eeeeee;
display: inline-block;
}
.title2{
	/* Style for "clients" */
width: 53px;
height: 10px;
color: #7b7b7b;
font-family: "Helvetica Neue - Ultra Light";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
	/* Text style for "clients" */
letter-spacing: 1.19px;
margin-left: 39px;
margin-right: 33px;
margin-top: 38px;
display: inline-block;
}
#clients{
	/* Style for "clients" */
margin-left: -22px;
opacity: 0.5;
}
#btn-one{
	/* Style for "button" */
width: 181px;
height: 42px;
background-color: #333333;
border: none;
border-radius: 10px;
background-image: linear-gradient(to top, rgba(0, 0, 0, 0.79) 0%, rgba(73, 73, 73, 0.79) 100%);
opacity: 0.83;
	/* Style for "button one" */
color: #ffffff;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
margin-left: 238px;
margin-top: 36px;
}
#btn-one:hover {
	/* Style for "mouse on btn-one" */
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}
.or{
	/* Style for "or" */
width: 18px;
height: 10px;
color: #363636;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
margin-left: 17px;
margin-right: 22px;
}
#btn-two{
	/* Style for "button" */
width: 181px;
height: 42px;
border: none;
border-radius: 10px;
background-color: #f7713e;
	/* Style for "button two" */
color: #ffffff;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
}
#btn-two:hover {
	/* Style for "mouse on btn-two" */
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}
.footer{
	/* Style for "footer" */
width: 1275px;
height: 360px;
margin-top: 108px;
background-color: #333333;
}
.contact{
	/* Style for "contact" */
margin-left: 144px;
padding-top: 28px;
display: inline-block;
}
.title3{
	/* Style for "Contact us" */
color: #ffffff;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
margin-bottom: 11px;
text-transform: uppercase;
}
input{
	/* Style for "input" */
width: 176px;
height: 29px;
border-radius: 10px;
margin-top: 10px;
border: 1px solid #929292;
background-color: #222222;
}
textarea{
	/* Style for "message" */
width: 269px;
height: 122px;
border-radius: 10px;
margin-top: 10px;
resize: none;
border: 1px solid #929292;
background-color: #222222;
}
button{
	/* Style for "button" */
outline: none;
border: none;
}
#btn-send{
	/* Style for "button-send bg" */
width: 76px;
height: 29px;
border-radius: 10px;
margin-top: 13px;
margin-left: 188px;
background-color: #f7713e;
	/* Style for "SUBMIT" */
color: #ffffff;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
}
.foot-menu{
	/* Style for "foot-menu" */
display: inline-block;
position: absolute;
margin-top: 28px;
margin-left: 82px;
}
#hr4{
	/* Style for "hr4" */
width: 282px;
height: 1px;
background-color: #464646;
}
.foot-menu-content a{
	/* Style for "web design" */
width: 132px;
height: 206px;
margin-left: 10px;
color: #ffffff;
text-decoration: none;
font-family: "Arial MT";
font-size: 12px;
font-weight: bold;
line-height: 28.01px;
text-transform: uppercase;
}
.recent-posts{
	/* Style for "recent-posts" */
display: inline-block;
position: absolute;
margin-left: 471px;
margin-top: 28px;
}
.post{
	/* Style for "post" */
margin-top: 24px;
}
#post{
	/* Style for "post" */
width: 56px;
position: absolute;
height: 56px;
display: inline-block;
text-align: center;
border: 1px solid #3e3e3e;
background-color: #333333;
}
#rss{
	/* Style for "rss" */
margin-top: 14px;
}
.foot-text{
	/* Style for "Typesettin" */
width: 124px;
padding-top: 5px;
margin-left: 73px;
height: 35px;
color: #cacaca;
font-family: "Arial MT";
font-size: 11px;
font-weight: 400;
	/* Text style for "Typesettin" */
line-height: 10.01px;
	/* Text style for ", 01/03/20" */
font-size: 10px;
line-height: 17.01px;
display: inline-block;
}
footer{
	/* Style for "footer" */
height: 70px;
background-color: #3e3e3e;
}
.foot-contact{
	/* Style for "foot-contact" */
margin-left: 890px;
position: absolute;
margin-top: -27px;
}
.mobile{
	/* Style for "mobile" */
	visibility: hidden;
}

/************************************************************/


					/*MOBILE VERSION*/
			
	
/************************************************************/


@media screen and (max-width: 980px) {
	body{
		/* Style for "body" */
	width: 100%
	}
	.mobile{
		/* Style for "mobile" */
	visibility: visible;
	}
	.body{
		/* Style for "body" */
	display: none;
	}
	.mobile-body{
		/* Style for "Body BG" */
	width: 980px;
	height: 1487px;
	margin-left: 150px;
	background-color: #ffffff;
	}
	#mobile-hr{
		/* Style for "mobile-hr" */
	width: 223px;
	height: 1px;
	margin-top: 40px;
	margin-left: 2px;
	background-color: #eeeeee;
	}
	#mobile-hr1{
		/* Style for "mobile-hr1" */
	width: 1px;
	position: absolute;
	margin-top: -312px;
	margin-left: 224px;
	height: 1487px;
	background-color: #bdbdbd;
	}
	header{
		/* Style for "header-background" */
	width: 1275px;
	height: 214px;
	background-color: #363636;
	}
	.mobile-header{
		/* Style for "mobile-header" */
	width: 979px;
	height: 116px;
	box-shadow: 0 -22px 46px rgba(0, 0, 0, 0.42);
	background-color: #333333;
	background-image: -webkit-linear-gradient(#f97340 0%, #dc592b 100%);
	background-image: -o-linear-gradient(#f97340 0%, #dc592b 100%);
	background-image: linear-gradient(#f97340 0%, #dc592b 100%);
	margin-top: -116px;
	margin-left: 150px;
	}
	#mobile-btn{
		/* Style for "mobile-btn" */
	width: 190px;
	height: 33px;
	background-color: #eeeeee;
	border-radius: 10px;
	text-align: right;
	margin-left: 752px;
	margin-top: 48px;
	background-image: -webkit-linear-gradient(right, #ff9974 0%, #ffffff 10%, #ffffff 100%);
	background-image: -o-linear-gradient(right, #ff9974 0%, #ffffff 10%, #ffffff 100%);
	background-image: linear-gradient(to left, #ff9974 0%, #ffffff 10%, #ffffff 100%);
	}
	.footer{
		/* Style for "footer" */
	margin-top: 0px;
	}
	.foot-contact{
		/* Style for "foot-contact" */
	margin-left: 805px;
	}
}