body {
	/* Style for "body" */
max-width: 1400px;
font-family: "PT Sans";
background-color: #ffffff;
margin: 0 auto;
}
input[type="email"]{
	/* Style for "input-emai" */
width: 580px;
height: 50px;
border-radius: 10px;
outline: none;
background-color: #ffffff;
/* Style for "Enter your email" */
padding-left: 20px;
color: #898989;
font-family: "PT Sans";
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.title{
	/* Style for "title" */
color: #010101;
font-size: 32px;
font-weight: 700;
line-height: 18px;
}
text-1{
	/* Style for "text-1" */
color: #313841;
font-size: 20px;
font-weight: 400;
line-height: 24px;
}
text-2{
	/* Style for "text-2" */
color: #555555;
text-align: left;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
a{
	/* Style for "a" */
	text-decoration: none;
}
.wrapper{
	/* Style for "wrapper" */
	max-width: 1400px;
}
header{
	/* Style for "background" */
width: 100%;
height: 742px;
background-color: #fcdb00;
}
.logo{
	/* Style for "logo" */
	display: inline-block;
	padding-top: 61px;
	margin-left: 236px;
}
.menu{
	/* Style for "menu" */
	margin-left: 430px;
	display: inline-block;
}
nav a{
	/* Style for "nav-a" */
color: #010101;
margin-right: 60px;
font-family: "Helvetica Neue";
font-size: 22px;
font-weight: 700;
line-height: 20px;
}
.header-content{
	/* Style for "header-content" */
margin-top: 67px;
margin-left: 236px;
}
.iPad{
	/* Style for "iPad" */
margin-left: 574px;
display: inline-block;
}
.text{
	/* Style for "text" */
margin-top: 73px;
position: absolute;
display: inline-block;
}
.text img{
	/* Style for "text-img" */
margin-right: 40px;
}
#btn1, #btn1_hover{
	margin-left: 5px;
	position: absolute;
	display: none;
}
.slider{
	/* Style for "slider" */
position: absolute;
margin-top: 580px;
margin-left: 671px;
}
.slide{
	/* Style for "slide" */
width: 14px;
height: 14px;
border-radius: 50%;
display: inline-block;
margin-right: 7px;
}
#slide1{
	/* Style for "1" */
background-color: #ffffff;
}
#slide2{
	/* Style for "2" */
background-color: #ffffff;
opacity: 0.5;
}
#slide3{
	/* Style for "3" */
background-color: #ffffff;
opacity: 0.5;
}
.content{
	/* Style for ".content" */
margin-top: 118px;
margin-left: 230px;
margin-right: 140px;
margin-bottom: 164px;
}
.row-1{
	/* Style for ".row-1" */
margin-top: 91px;
display: inline-block;
}
.row-text{
	/* Style for ".row-text" */
display: inline-block;
margin-left: 34px;
}
.row-1-2, .row-2-2, .row-3-2{
	/* Style for ".row-1-2; .row-2-2; .row-3-2" */
margin-top: 90px;
}
.row-2, .row-3{
	/* Style for ".row-2; .row-3" */
margin-left: 40px;
margin-top: 91px;
display: inline-block;
}
footer{
	/* Style for "footer" */
max-width: 1400px;
width: 100%;
height: 800px;
background-color: #010101;
}
.footer-content{
	/* Style for "footer-content" */
padding-top: 100px;
margin-left: 270px;
margin-right: 320px;
}
.footer-content .title{
	/* Style for "footer-content .title" */
color: #fcdb00;
}
.footer-content text-1{
	/* Style for "footer-content text-1" */
color: #898989;
}
#st1{
	color: #fff
}
form{
	/* Style for "form" */
margin-top: 41px;
}
button{
	/* Style for "button" */
width: 186px;
height: 57px;
border-radius: 10px;
border: 2px solid #010101;
background-color: #fcdb00;
	/* Style for "SUBMIT" */
color: #010101;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
}
#btn2{
	/* Style for "#btn2" */
width: 126px;
margin-left: 20px;
}
.social{
	/* Style for "social" */
margin-top: 80px;
text-align: center;
cursor: pointer;
}
.social img{
	/* Style for "social img" */
margin-right: 32px;
}
.contacts{
	/* Style for "contacts" */
margin-top: 130px;
margin-left: 220px;
}
.contacts div{
	/* Style for "contacts div" */
vertical-align: top;
margin-right: 90px;
display: inline-block;
}
.contact-row-2{
	/* Style for "contacts-row-2" */
margin-left: 60px;
}
.contacts div a{
	/* Style for "Contact contacts div a" */
color: #ffffff;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.mobile-header{
	display: none;
}
.iPad_black{
	display: none;
}
#m4{
	position: fixed;
color: #010101;
margin-right: 60px;
font-family: "Helvetica Neue";
font-size: 22px;
font-weight: 700;
line-height: 20px;
margin-left: 408px;
margin-top: -20px;
}
.back{
	margin-top: -30px;
	margin-left: -15px;
	width: 300px;
	position: absolute;
	height: 200px;
	background-color: grey;
	opacity: 0;
	cursor: pointer;
}
/************************************************************/


					/*MOBILE VERSION*/
			
	
/************************************************************/

@media (max-width: 980px){
	body{
		width: 1400px;
	}
	header{
		display: none;
	}
	.mobile-header{
		/* Style for "background" */
		display: grid;
		width: 100%;
	height: 742px;
	background-color: #fcdb00;
	}
	.mobile-head{
		margin-left: 240px;
		padding-top: 77px;
	}
	.mobile-head div{
	display: inline-block;
	}
	.mobile-logo{
		margin-left: 364px;
	}
	.mobile-contacts{
		margin-left: 257px;
	}
	.mobile-contacts img{
		margin-right: 22px;
	}
	.text{
		margin-top: 222px;
		width: 1400px;
		text-align: center;
	}
	.btn{
		/* Style for "circle1" */
	width: 69px;
	height: 69px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	margin-right: 18px;
	margin-left: 18px;
	border: 2px solid #000000;
	background-color: #fcdb00;
	}
	.btn img{
		position: absolute;
		margin-top: 12px;
		margin-left: -18px;
	}
	#btn1, #btn1_hover{
		margin-top: 10px;
		margin-left: 70px;
	}
	.slider{
		margin-top: 560px;
	}
	.mac{
		position: absolute;
		margin-left: 209px;
		margin-top: 50px;
	}
	.row-2, .row-1 img, .row-3 img{
		display: none;
	}
	.iPad_black{
		display: inline-block;
		margin-left: 98px;
		margin-right: 25px;
		margin-top: 62px;
	}
	.row-1-2, .row-3-2{
		margin-top: 150px;
	}
	footer{
		height: 850px;
	}
}